@model System.Web.Mvc.IPagedList  
@{
    Layout= null;
    string cabecalho = ViewBag.Header;
}   


@using (Ajax.BeginForm(null, null, new AjaxOptions { HttpMethod = "get" }, new { @style = "margin-left: 20px", @role = "search" }))
{
    <div class="form-horizontal" style="padding-top: 10px;">
        <div class="form-group">
            <div class="col-md-11 col-xs-10 col-sm-10 input-group">
                @Html.TextBox("descricao", "", htmlAttributes: new { @class = "form-control", @placeholder = "Buscar" })
                <div class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="Refresh(0, getPageSize(), '@Model.action', '@Model.DivId')">Buscar</button>
                </div>
            </div>
        </div>
    </div>

}

