@model App_Dominio.Repositories.TypeaheadRepository
<div class="form-group" id="CentroCustoParent">
    @Html.Editor("_centroCustoId", "TYPEAHEAD", new { typeahead = Model } )
</div>

<script>
    // Next Field
    $('#CentroCustoParent').on('keydown', '#@Model.text', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9 && '@Model.nextField' != '') {
            e.preventDefault();
            if (!e.shiftKey)
                $('#@Model.nextField').focus();
            else
                $('#@Model.prevField').focus();
        }
    });
    // Fim-Next Field

    var link = encodeURI('../CentroCustos/getNames?noCahce=' + new Date());
    var data = { ccu: [] };
    var ccu = { countries: [] };
    $.ajax({
        type: "POST",
        url: link,
        contentType: "application/json; charset=utf-8",
        global: false,
        async: false,
        dataType: "json",
        success: function (jsonObj) {
            for (i in jsonObj) {
                data.ccu.push(jsonObj[i].descricao);
                ccu.countries.push({ objId: jsonObj[i].centroCustoId, descricao: jsonObj[i].descricao })
            };
        }
    });

    $('#descricao_centroCusto').typeahead({
        minLength: 1,
        order: "asc",
        group: false,
        offset: true,
        //backdrop: {
        //    "opacity": 0.45,
        //    "filter": "alpha(opacity=45)",
        //    "background-color": "#fff"
        //},
        groupMaxItem: 5,
        hint: true,
        filter: "Todos",
        selector: {
            filter: "input-group-btn",
            filterButton: "btn btn-default",
            dropdown: "dropdown-menu dropdown-menu-right",
            list: "dropdown-menu",
            hint: "form-control"
        },
        source: {
            'Centro de Custo': {
                data: data.ccu
            }
        },
        callback: {
            onClick: function (node, a, obj, e) {

                @*if ('@Model.nextField' != '' && '@Model.nextField' != null)
                    $('#@Model.nextField').focus();*@

                $('#centroCustoId').val("");

                for (i in ccu.countries) {
                    if (ccu.countries[i].descricao == obj.display)
                        $('#centroCustoId').val(ccu.countries[i].objId);
                }

                //alert(
                //    "window.location = /beer/" + obj.group + "/" +
                //        obj.display
                //            .toLowerCase()
                //            .replace(/[\s\(\)]/g, "-")
                //            .replace(/[-]+/g, "-")
                //);

            }
        },
        debug: true
    });

</script>

