@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model System.Web.Mvc.PagedList<DWM.Models.Repositories.CorretorViewModel>
@{
    ViewBag.Title = "DWM-Imovel";
    ViewBag.Header = "Corretor";
}

<div class="container">
    <div class="row margem-topo-10">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    @Html.Partial("_Filter", Model)
                </div>
                <div class="panel-body">
                    <div id="div-list">
                        @Html.Partial("List", Model)
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-lg-offset-11">
                        @Html.Partial("_defaultListButtons", new List<ButtonRepository> { new ButtonRepository() { linkText = "Incluir", actionName = "Create", controllerName = "Corretores", buttonType = "link" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

