html,
body {
    padding-top: 26px;
    padding-bottom: 0px;
    /*height: 100%;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto 0px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 300px; 
}
#footer {
    background-color: #dd4814;
}

/* Set width on the form input elements since they're 100% wide by default */
@media (max-width: 1980px) {
    input,
    select,
    textarea {
        max-width: 1080px;
    }

    .Scroll {
        overflow-y: scroll;
        height: 500px;
    }

    .Listagem {
        margin-left: 10px;
        margin-top: 10px;
        max-height: 570px;
        overflow-y: auto;
    }

    #footer {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 800px) {
    input,
    select,
    textarea {
        max-width: 580px;
    }

    .Scroll {
        overflow-y: scroll;
        height: 300px;
    }

    .Listagem {
        margin-left: 10px;
        margin-top: 10px;
        max-height: 400px;
        overflow-y: auto;
    }

    #footer {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width:290px) {
    input,
    select,
    textarea {
        max-width: 280px;
    }

    .Scroll {
        overflow-y: scroll;
        height: 150px;
    }
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

fundoModal
{
    background-color: Black;
    filter:alpha(opacity=60);
    opacity:0.6;
    position: absolute; left: 0%; top: 0%;
    width: 100%;
    height: 100%;
    _height: 800px;
    _width: 110%;
    
}

.modalPopupCarregando
{
    background-color: #FFFFFF;
    border: none;
    padding: 2px;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-top: 15%;
    margin-left: 25%;
    margin-right: auto;
}

.modalPopupReport
{
    background-color: #FFFFFF;
    border-width: 2px;
    border-style: none;
    border-color: #fff;
    padding: 2px;
    width: auto%;
    height: 100%;
    overflow: auto;
    position: absolute; left: 0%; top: 0%; right: 0%; 
    text-align: center;
}

/* Classes definida pelo usuário DWM Sistemas */
.gelo{
    background-color: #dedede !important;
    padding: 20px;
}

.gelo-no-padding{
    background-color: #dedede;
    padding: 0px;
}

.clean
{
    background-color: #dbe4ed;
    padding: 20px;
}

.omo{
    background-color: #d0d0d0 !important;
    padding: 20px;
}


.info
{
    background-color: #3399F3;
    padding: 20px;
}

.areia
{
    background-color: #e9dada !important;
    padding: 20px;
}

.destaque
{
    background-color: #d8ac9d !important;
    padding: 0px;
}

.enfase
{
    background-color: #a78f87 !important; 
    padding: 20px;
}

.neve
{
    background-color: #fff;
    padding: 20px;
}

.urubu
{
    background-color: #000 !important;
    padding: 20px;
}

.corvo{
    background-color: #464646;
    padding: 20px;
}

.leao
{
    background-color: #7a889d;
    padding: 20px;
}

.leao-top
{
    background-color: #7a889d;
    padding: 20px 0px 0px 0px;
}

.tangerina{
    background-color: #f65922;
    padding: 20px;
}

.text-white{
    color: #fff;
}

.text-dark{
    color: #353535;
}

.text-mama-africa{
    color: Black !important;
}

.text-enfatico{
    color: #ffa789;
}

.text-prateado {
    color: #bfbfbf ;
}
.no-padding {
    padding: 0px !important;
}

.list-group-item-success {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #dbe4ed;
  border: 1px solid #dddddd;
  text-decoration: none !important;
}

.link-default {
    text-decoration: none; 
    color: #fff;
}

.moldura-box {
    margin-top: -10%; 
    z-index: 10 !important; 
    padding-top: 1%; 
    padding-bottom: 20px
}


