using DWM.Models.Repositories
@using App_Dominio.Repositories
@model DWM.Models.Repositories.PropostaViewModel
@{
    ViewBag.Title = "DWM-Imovel";
}

<div class="container-fluid">
    <div class="row">
        <div class="">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
    </div>

</div>
