@using DWM.Models.Repositories
@using App_Dominio.Repositories
@model System.Web.Mvc.PagedList<DWM.Models.Repositories.EmpreendimentoViewModel>
@{
    ViewBag.Title = "DWM-Imovel";
    ViewBag.Header = "Empreendimentos";
}
<div class="container">
    <div class="row" style="margin-top: 10px">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="panel panel-primary" style="padding: -2px">
                <div class="panel-heading" style="padding: 0px; height: 50px">
                    @Html.Partial("_Filter", Model)
                </div>
                <div class="panel-body">
                    <div id="div-list">
                        @Html.Partial("List", Model)
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="col-lg-offset-11">
                        @Html.Partial("_defaultListButtons", new List<ButtonRepository> { new ButtonRepository() { linkText = "Incluir", actionName = "Create", controllerName = "Empreendimentos", buttonType = "link" } })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





