@model System.Web.Mvc.PagedList<DWM.Models.Repositories.EmpreendimentoViewModel>
@{
    Layout = null;
    Model.action = "../Empreendimentos/_ListEmpreendimentoModal";
}

<div class="row">
    <div class="col-md-12" style="margin: 0px">
        @Html.Partial("_Filter", Model)
        <div id="div-emp" style="padding-top: 0px">
            @Html.Partial("../Empreendimentos/_ListEmpreendimentoModal", Model)
        </div>
    </div>
</div>

<script type="text/javascript">

    function Move(id, descricao) {
        $("#empreendimentoId").val(id);
        $("#descricao_empreendimento").val(descricao);
        $("#descricao_empreendimento1").val(descricao);
        $("#btnModal").click();
    }

</script>
