@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<img alt="300x200" src="../Content/images/dwm_sistemas.jpg" style="padding-top: 5px" />
<address>
    Av Conselheiro Furtado, 2312 - Oásis 1304<br />
    Belém-Pa, Cep: 66040-105<br />
    <abbr title="Whatsapp">(91)</abbr>
    9985-1809
</address>

<address style="margin-bottom: 90px">
    <strong>Suporte:</strong>   <a href="mailto:andreborgesleal@live.com">andreborgesleal@live.com</a><br />
    <strong>Comercial:</strong> <a href="mailto:afbleal@gmail.com">afbleal@gmail.com</a>
</address>

<div class="omo" id="push"></div>
