<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">

<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DWM-Finanças</title>
    <meta name="description" content="DWM-Sistemas a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="../../../Content/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="~/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="~/Content/css/animations.css" rel="stylesheet">

    <!-- Worthy core CSS file -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- Custom css -->
    <link href="~/Content/css/custom.css" rel="stylesheet">

</head>

<body class="no-trans">
@{
    Layout = null;
}
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>
    
    <!-- header start -->
    <!-- ================ -->
    <header class="header fixed clearfix navbar navbar-fixed-top">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-xs-8">

                            <!-- header-left start -->
                            <!-- ================ -->
                            <div class="header-left clearfix">

                                <!-- logo -->
                                <div class="logo smooth-scroll">
                                    <a href="#banner"><img id="logo" src="~/Content/images/logo.png" alt="Worthy"></a>
                                </div>

                                <!-- name-and-slogan -->
                                <div class="site-name-and-slogan smooth-scroll">
                                    <div class="site-name"><a href="#banner">DWM-Finanças</a></div>
                                    <div class="site-slogan">Sistema de Gestão Financeira <a target="_blank" href="http://www.dwmsistemas.com.br">DWM Sistemas</a></div>
                                </div>

                            </div>
                            <!-- header-left end -->

                        </div>
                        <div class="col-md-8 col-xs-4">

                            <!-- header-right start -->
                            <!-- ================ -->
                            <div class="header-right clearfix">

                                <!-- main-navigation start -->
                                <!-- ================ -->
                                <div class="main-navigation animated">

                                    <!-- navbar start -->
                                    <!-- ================ -->
                                    <nav class="navbar navbar-default" role="navigation">
                                        <div class="container-fluid">

                                            <!-- Toggle get grouped for better mobile display -->
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>

                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                            <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                                <ul class="nav navbar-nav navbar-right">
                                                    <li class="active"><a href="#banner">Home</a></li>
                                                    <li><a href="#about">Sobre</a></li>
                                                    <li><a href="#services">Serviços</a></li>
                                                    <li class="hidden-xs"><a href="#portfolio">Portfolio</a></li>
                                                    <li><a href="#clients">Clientes</a></li>
                                                    <li><a href="#contact">Contato</a></li>
                                                    <li><a href="../Account/Login">Acesso</a></li>
                                                </ul>
                                            </div>

                                        </div>
                                    </nav>
                                    <!-- navbar end -->

                                </div>
                                <!-- main-navigation end -->

                            </div>
                            <!-- header-right end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner">
        <div class="banner-image"></div>
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                        <h1 class="text-center">DWM <span>Finanças</span></h1>
                        <p class="lead text-center">Sistema integrado de gestão financeira envolvendo contas a pagar, contas a receber, movimentação bancária e contabilidade. Roda totalmente na web através do pc, notebooks, tablets e smartphones. Tem o segmento empresarial voltado para empresas e o segmento pessoal voltado para o uso doméstico.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="about" class="title text-center">Nossa solução <span>DWM-Finanças</span></h1>
                    <p class="lead text-center">Sistema Integrado de Gestão financeira.</p>
                    <div class="space"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../../Content/images/section-image-1.png" alt="">
                            <div class="space"></div>
                        </div>
                        <div class="col-md-6">
                            <p>O DWM-Finanças é um sistema integrado de gestão financeira envolvendo contas a pagar, contas a receber, movimentação bancária e contabilidade. A aplicação roda totalmente na web através do pc, notebooks, tablets e smartphones. Tem o segmento empresarial voltado para empresas e o segmento pessoal voltado para o uso doméstico.</p>
                            <p>No segmento pessoal, o DWM-Finanças permite de uma forma ágil e simples administrar as despesas domésticas dividindo-as em grupos, bem como o controle das contas bancárias do usuário.</p>
                            <p>No segmento empresarial a aplicação oferece - além dos recursos básicos citados acima - serviços web que possibilitam interagir com os sistemas específicos da empresa (escolas, sindicatos, clubes, condomínios, etc.)</p>
                        </div>
                    </div>
                    <div class="space"></div>
                    <h2>Como funciona o <span>DWM-Finanças</span></h2>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Acesse o DWM-Finanças de qualquer lugar pela internet</strong></p>
                            <p>O DWM-Finanças é 100% online. Isso significa que você tem acesso as suas informações financeiras a qualquer dia da semana de qualquer lugar.</p>
                            <p></p>
                            <p>Para usar seus recursos é necessário fazer um cadastro rápido. Oferecemos gratuitamente um acesso completo por 30 dias para você conhecer e explorar todos os recursos.</p>
                            <p></p>
                            <p>Após este período escolha entre os planos mensais que melhor atende suas necessídades.</p>
                            <p></p>
                            <p><strong>Não perca mais tempo com planilhas</strong></p>
                            <p>Pare de perder tempo procurando por planilhas e utilizando sistemas complicados. </p>
                            <p></p>
                            <p>Nós vamos facilitar sua gestão financeira da mesma forma como já ajudamos outras dezenas de empresas.</p>
                            <p></p>
                            <p>Clique aqui e faça seu cadastro gratuito agora !</p>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Cobrança
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p>Faça a inclusão de contas a receber de seus clientes de forma ágil e completa. O DWM-Finanças oferece opção para inclusão de contas individuais ou parceladas (mensalidades). Realiza a baixa parcial, liquidação total ou individual de uma conta.</p>
                                            <p>Oferece ainda opção para pagamento online com cartão de crédito ou cartão de débito.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Pagamentos
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <p>Agende no DWM-Finanças todos os seus pagamentos e quando realizar a baixa salve o comprovante e vincule ao respectivo lançamento. Todo pagamento efetivado atualiza os saldos e oferece recursos para a conciliação bancária.</p>
                                            <p>Controla a trilha de cheques: compensação, devolução, reapresentação e liquidação.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                Movimentação bancária
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body">
                                            <p>Este recurso permite o controle de todos os recursos financeiros que entram e saem da conta bancária ou da conta caixa. Os créditos e débitos oriundos das operações (cobrança e pagamentos respectivamente) serão automaticamente registrados nas contas bancárias da empresa.</p>
                                            <p></p>
                                            <p>O DWM-Finanças também permite realizar transaferências entre contas.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Contabilidade
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            <p>O DWM-Finanças possui os recursos essenciais de uma contabilidade comercial. É integrado com a cobrança e os pagamentos através dos enquadramentos contábeis.</p>
                                            <p>Faz o planejamento orçamentário para o exercício atribuindo os valores estimados mês a mês e o acompanhamento do realizado.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section translucent-bg bg-image-3 blue">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <h1 id="services" class="text-center title">Serviços incluídos no DWM-Finanças</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Treinamento</h4>
                            <p>Após a compra e o pagamento de sua licença você tem um mês para treinar os funcionários de sua empresa sem custo algum e sem limite de matriculas. Se precisar de mais sessões de treinamento após esse período, oferecermos pacotes de extensão de Suporte e Treinamento. Além disso, oferecemos pacotes de consultoria on-line, onde nosso instrutor fica dedicado exclusivamente a sua empresa.</p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-cog"></i>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Backup</h4>
                            <p>Todos oa backups são realizados em regiões geográficas diferentes para aumentar mais ainda a confiabilidade. Seus dados estarão 100% protegidos. O backup é feito diarimente durante a madrugada.</p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </div>
                <div class="space visible-xs"></div>
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-leaf"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Segurança</h4>
                            <p>
                                O DWM-Finanças mantém uma conta com privilégio de administrador. Esta conta permite acesso a um módulo específico de segurança para cadastrar
                                outros usuários que terão privilégios mais limitados, isto é, cadastrar grupos de usuários e determinar o que os usuários deste grupo poderão visualizar e executar no sistema.
                            </p>
                            <p>Neste módulo de segurança também é possível consultar a auditoria do que cada usuário realizou no DWM-Finanças.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-area-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Atendimento ao cliente</h4>
                            <p>Qualquer dificiuldade ou questionamento poderá ser feito através de nossa central de chamados. Sua dúvida, questionamento ou solicitação fica registrado com data e hora e nossos atendentes estão qulificados para responder seu chamado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="default-bg space blue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">Convidamos você a fazer essa parceria !</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section hidden-xs">
        <div class="container">
            <h1 class="text-center title" id="portfolio">Portfolio</h1>
            <div class="separator"></div>
            <p class="lead text-center">Abaixo apresentamos um resumo de cada funcionalidade do DWM-Finanças.<br> Clique na imagem para visualizar.</p>
            <br>
            <div class="row object-non-visible" data-animation-effect="fadeIn">
                <div class="col-md-12">

                    <!-- isotope filters start -->
                    <div class="filters text-center">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#" data-filter="*">Todas</a></li>
                            <li><a href="#" data-filter=".web-design">Cobrança</a></li>
                            <li><a href="#" data-filter=".app-development">Pagamentos</a></li>
                            <li><a href="#" data-filter=".site-building">Contabilidade</a></li>
                        </ul>
                    </div>
                    <!-- isotope filters end -->
                    <!-- portfolio items start -->
                    <div class="isotope-container row grid-space-20">
                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/developer.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-1">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Cobrança</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Contas a receber</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-1-label">Contas a receber</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3><strong>Descrição</strong></h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Faça a inclusão de contas a receber de seus clientes de forma ágil e completa. O DWM-Finanças oferece opção para inclusão de contas individuais ou para muitos clientes (mensalidades).</p>
                                                    <p>Na inclusão de contas individuais o <span>DWM-Finanças</span> tem duas opções de cadastro: Modelo simplificado e o modelo de parcelas.</p>
                                                    <p></p>
                                                    <h4>Modelo simplificado</h4>
                                                    <p>No modelo simplificado é realizada a inclusão de uma operação de crédito com a possibilidade de realizar na mesma tela a amortização ou liquidação da operação.</p>
                                                    <p></p>
                                                    <h4>Modelo de parcelas</h4>
                                                    <p>No modelo de parcelas é realizada a inclusão de uma operação de crédito com opção de pagamento em várias parcelas e vencimentos.</p>
                                                    <h4>Mensalidades</h4>
                                                    <p>Este é um recurso especial do DWM-Finanças que inclui várias operações para muitos clientes, em rajada. Ideal para emrpesas que trabalham com mensalidades de seus clientes (escolas, clubes, condomínios, sindicatos, planos de saúde, etc.).</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/developer.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/agendamento.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-2">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Cobrança</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Agendamento de cobrança</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-2-label">Agendamento de cobrança</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3><strong>Descrição</strong></h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Com este recurso a empresa poderá vincular seus clientes a um grupo de cobrança, definir as regras e a periodicidade. A partir daí O DWM-Finanças vai gerar automaticamente a cobrança para cada cliente e enviar uma notificação para ele por e-mail.</p>
                                                    <p>A empresa poderá criar vários grupos de cobrança e vincular vários clientes a ele. Na data e hora agendada o sistema cria uma operação de crédito para cada cliente e gera o boleto de cobrança em formato PDF que pode ser enviado por e-mail e disponibilizado na área de download do cliente.</p>
                                                    <p>É possível cancelar um agendamento que já tenha sido gerado. Neste caso, há um evento específico de cancelamento onde é registrado o motivo para uma possível auditoria.</p>
                                                    <p>O processamento também pode ser executado de forma manual. Neste caso é preciso baixar um aplicativo para ser executado localmente no computador da empresa. </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/agendamento.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/boleto.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-3">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Cobrança</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Boletos bancários</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-3-label">Boletos bancários</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Após a geração da cobrança, o DWM-Finanças imprime os boletos para os clientes. Também é possível imprimir boletos individuais para um cliente específico ou disponibilizar a 2a via para download.</p>
                                                    <p>O DWM-Finanças disponibiliza um arquivo PDF por cliente ou pode gerar um único arquivo contendo todos os boletos para que a empresa possa efetuar a impressão.</p>
                                                    <p>O DWM-Finanças disponbiliza um serviço web que retorna um link para que a empresa possa vincular o boleto do cliente dentro do seu sistema corporativo.</p>
                                                    <p>São disponibilizados os boletos dos principais bancos. As configurações com os dados para serem impressos nos boletos serão de preenchimento do próprio usuário. A empresa pode configurar mais de um boleto conforme sua necessidade.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/boleto.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/contabilidade.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-4">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Contabilidade</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">Contabilidade</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-4-label">Contabilidade</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Faça a inclusão de lançamentos contábeis de sua empresa de forma ágil e completa. O DWM-Finanças oferece opção de partida simples e partida dobrada.</p>
                                                    <p>Se preferir, pode também utilizar o enquadramento contábil para ser chamado a partir de uma operação de crédito (contas a receber) ou operação de débito (contas a pagar), de um lançamento contábil individual ou no processamento da cobrança e baixa/amortização dos pagamentos.</p>
                                                    <p>Plano de contas em vários níveis. Possibilidade de configurar um plano de contas por exercício contábil ou importar as configurações de um exercício anterior para um novo exercício.</p>
                                                    <p>O sistema oferece um serviço web para que a empresa possa importar ou exportar dados para outros sistemas corporativos.</p>
                                                    <p>Emite os relatórios contábeis essenciais da contabilidade tais como Termos de abertura e encerramento de exercício, Diário, Razão, Balancete e Balanço.</p>
                                                    <p>O DWM-Finanças possibilita realizar o processamento do encerramento de exercício com a atualização das contas de lucro e prejuízo, zerando os saldos das contas de receitas e despesas para o novo exercício.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/contabilidade.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item app-development">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/Contasapagar.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-7">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Pagamentos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-7">Contas a pagar</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-7" tabindex="-1" role="dialog" aria-labelledby="project-7-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                                            <h4 class="modal-title" id="project-7-label">Contas a pagar</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Faça a inclusão de contas a pagar de seus fornecedores de forma ágil e completa.</p>
                                                    <p>Na inclusão de contas o <span>DWM-Finanças</span> tem duas opções de cadastro: Modelo simplificado e o modelo de parcelas.</p>
                                                    <p></p>
                                                    <h4>Modelo simplificado</h4>
                                                    <p>No modelo simplificado é realizada a inclusão de um lançamento de pagamento com a possibilidade de realizar na mesma tela a amortização ou liquidação da operação.</p>
                                                    <p></p>
                                                    <h4>Modelo de parcelas</h4>
                                                    <p>No modelo de parcelas é realizada a inclusão de um lançamnto com opção de pagamento em várias parcelas e vencimentos.</p>
                                                    <h4>Agendamento</h4>
                                                    <p>Este é um recurso do DWM-Finanças que possibilita agendar lançamentos que se repetem mensalmente como contas de luz, telefone, tributos, entre outros e assim evitar o cadastramento períodico da mesma conta.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/Contasapagar.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item app-development">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/fraudeemboleto.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-5">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Pagamentos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-5">Comprovantes de pagamento</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-5-label">Comprovantes de pagamento</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Ao incluir uma conta a pagar ou efetuar o pagamento dela, o DWM-Finanças possibilita que seja anexado à operação documentos digitalizados tais como boletos, comprovantes, cópia de cheques, recibos, etc.</p>
                                                    <p>Estes documentos serão enviados através de upload e ficarão gravados na pasta da empresa e vinculados ao lançamento do pagamento.</p>
                                                    <p>A qualquer momento o usuário poderá consultar a operação e visualizar os documentos que estão ligados a ela. É possível visualizar ou fazer o download dos respectivos documentos.</p>
                                                    <p>Os formatos de documentos suportados são: word, pdf e arquivos de imagem (.jpg, .png e .bmp).</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/fraudeemboleto.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/cheques.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-6">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Cobrança</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-6">Controle de cheques</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-6-label">Controle de cheques</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>O sistema registra os cheques entregues pelo cliente e controla a trilha percorrida por eles tais como: compensação, cheque devolvido, cheque reapresentado, cheque liquidado e sensibiliza o pagamento no movimento bancário.</p>
                                                    <p>Todos os eventos ocorridos com um cheque entregue pelo cliente gera um débito ou crédito na conta bancária da empresa até que o cheque seja efetivamente compensado.</p>
                                                    <p>Estes eventos são registrados a partir da conciliação bancária e também são sensibilizados na contabilidade. Cada evento é registrado pelo usuário que vincula a um modelo contábil. </p>
                                                    <p>A compensação do cheque efetiva a amortização ou  baixa por liquidação do título. Se houver cancelamento ou estorno da baixa, o movimento bancário vinculado ao cheque também será estornado.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/cheques.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>



                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/negociacao.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-8">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Cobrança</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-8">Negociação de contas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-8" tabindex="-1" role="dialog" aria-labelledby="project-8-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-8-label">Negociação de contas atrasadas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>O DWM-Finanças agrupa as contas em atraso do cliente e possibilita negociar a operação criando um novo lançamento (parcelado ou não), com novos vencimentos e vincular as parcelas atrasadas à negociação feita.</p>
                                                    <p>A operação original ficará desabilitada e disponível apenas para consulta do histórico dos pagamentos. O valor total é somado, acrescido dos juros e o resultado é apresentado ao cliente para ser negociado.</p>
                                                    <p>Sobre o saldo devedor poderá ser abatido os juros e calculado um desconto. O novo valor obtido será negociado de forma a incluir uma outra operação parcelada ou mesmo com opção para liquidação à vista.</p>
                                                    <p>A operação original ficará referenciada para efeito de histórico ao novo lançamento.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/negociacao.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/parcial.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-9">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Cobrança</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-9">Pagamento parcial</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-9" tabindex="-1" role="dialog" aria-labelledby="project-9-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-9-label">Pagamento Parcial</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>O DWM-Finanças possibilita registrar parte de um pagamento e deixar em aberto o restante para quitação posterior. Ou então agrupar todas as parcelas em aberto, conceder um desconto e liquidar o pagamento.</p>
                                                    <p>O saldo residual será atualizado com as taxas de juros definidas na inclusão da operação.</p>
                                                    <p>Cada pagamento parcial gera o movimento bancário e inclui o registro contábil do respectivo lançamento.</p>
                                                    <p>Cada pagamento parcial também estará vinculado a um evento financeiro de forma a permitir que a administração possa de forma clara e transparente acompanhar o histórico das ocorrências do cliente.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/parcial.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item site-building">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/orcamento.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-10">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Contabilidade</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-10">Orçamento</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-10" tabindex="-1" role="dialog" aria-labelledby="project-10-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-10-label">Orçamento</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Faça seu planejamento orçamentário para o novo exercício atribuindo os valores estimados mês a mês e depois acompanhe o realizado e faça as comparações. Eventualmente faça as alterações orçamentárias, transferindo valor de uma conta para outra.</p>
                                                    <p>Com a análise de resultados do exercício corrente é possível estabelecer metas para o novo exercício. O DWM-Finanças faz o levantamento do Balanço e calcula a média de despesas mensais de cada conta contábil e exibe uma planilha com os valores obtidos para que o usuário possa aprovar ou revogar conforme lhe for conveniente.</p>
                                                    <p>Uma vez aprovado o orçamento, os valores não poderão mais ser alterados. Com o início do novo exercício será possível realizar as atualizações orçamentárias, através das transferências de valores de uma conta para outra, no qual ficarão registradas  as credenciais do usuário que as realizou. </p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/orcamento.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item web-design">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/cliente.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-11">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Cobrança</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-11">Clientes</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-11" tabindex="-1" role="dialog" aria-labelledby="project-11-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-11-label">Cadastro de Clientes</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Mantenha o cadastro de seus clientes sempre atualizado. É possível atribuir a cada cliente uma credencial de acesso ao DWM-Finanças para que o próprio cliente atualize seus dados cadastrais e possa também emitir seus extratos de pagamentos e emitir a 2a via do boleto.</p>
                                                    <p>Normalmente as empresas já possuem um cadastro de clientes em seus sistemas corporativos. Entretanto o DWM-Finanças oferece opção para importar ou exportar os dados de clientes de seu sistema corporativo de acordo com um layout específico.</p>
                                                    <p>Há também uma opção de integração entre o cadastro de clientes de seu sistema corporativo com o cadastro de clientes do DWM-Finanças através do uso de um serviço web que disponibilizamos.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/cliente.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-3 isotope-item app-development">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="../../Content/images/alerta.jpg" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-12">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Pagamentos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-12">Alertas de vencimento</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-12" tabindex="-1" role="dialog" aria-labelledby="project-12-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="project-12-label">Alertas de vencimento</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Descrição</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>O DWM-Finanças avisa quando uma conta estiver para vencer. Este aviso pode ser através de mensagem de e-mail, SMS ou alertas na própria web page da aplicação.</p>
                                                    <p>As contas atrasadas também têm destaque nos alertas. As contas atrasadas são exibidas em vermelho e são calculadas para o valor presente.</p>
                                                    <p>Um recurso interessante oferecido pelo DWM-Finanças é a integração com o calendário da Google e da Microsoft. O sistema permite exportar seus compromissos financeiros para esses calendários para que seja possível estar sempre acompanhando e recebendo lembretes das contas que precisam ser pagas.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="../../Content/images/alerta.jpg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                    </div>
                    <!-- portfolio items end -->

                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="section translucent-bg bg-image-2 pb-clear">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <h1 id="clients" class="title text-center">Clientes</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media testimonial">
                        <div class="media-left">
                            <img src="../../Content/images/testimonial-3.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">SINDMEPA</h3>
                            <blockquote>
                                <p>Sindicato dos médicos do estado do Pará.</p>
                                <footer>
                                    Sistema de cadastro de Associados integrado com o <cite title="SCA">DWN-Finanças</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media testimonial">
                        <div class="media-left">
                            <img src="../../Content/images/testimonial-2.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Intercor</h3>
                            <blockquote>
                                <p>Clínicas Integradas do Coração, voltada para atendimento clínico e exames laboratoriais</p>
                                <footer>Sistema de gestão administrativa de atendimento médico ambulatorial integrado com o <cite title="SCA">DWN-Finanças</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media testimonial">
                        <div class="media-left">
                            <img src="../../Content/images/testimonial-1.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Azevedo Barbosa</h3>
                            <blockquote>
                                <p>Empresa com 34 anos de atuação no mercado imobiliário paraense.</p>
                                <footer>Sistema de vendas de imóveis integrado com o <cite title="DWM-Imóvel">DWM-Finanças</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="media testimonial">
                        <div class="media-left">
                            <img src="../../Content/images/testimonial-2.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Área 1 Inteligência imobiliária</h3>
                            <blockquote>
                                <p>Empresa atuante no mercado imobiliário. Venda e aluguel de imóveis.</p>
                                <footer>Sistema de vendas de imóveis integrado com o <cite title="DWM-Imóvel">DWM-Finanças</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="media testimonial">
                        <div class="media-left">
                            <img src="../../Content/images/testimonial-3.png" alt="">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Condomínio Parc Paradiso</h3>
                            <blockquote>
                                <p>Condomínio residencial com 432 unidades.</p>
                                <footer>Sistema de gestão administrativa de condomínios integrado com o <cite title="DWM-Finanças">DWN-Finanças</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section start -->
        <!-- ================ -->
        <div class="translucent-bg blue">
            <div class="container">
                <div class="list-horizontal">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="list-horizontal-item">
                                <!--<img src="../../Content/images/sindmepa.png" alt="client">-->
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="list-horizontal-item">
                                <!--<img src="../../Content/images/ab.png" alt="client">-->
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="list-horizontal-item">
                                <!--<img src="../../Content/images/area1.png" alt="client">-->
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="list-horizontal-item">
                                <!--<img src="../../Content/images/client-4.png" alt="client">-->
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="list-horizontal-item">
                                <!--<img src="../../Content/images/client-5.png" alt="client">-->
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="list-horizontal-item">
                                <!--<img src="../../Content/images/client-6.png" alt="client">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- section end -->
    </div>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <div class="default-bg space">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">Seja mais um a usar o DWM-Finanças</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->
    <!-- footer start -->
    <!-- ================ -->
    <footer id="footer">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer section">
            <div class="container">
                <h1 class="title text-center" id="contact">Contato</h1>
                <div class="space"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footer-content">
                            <p class="large">Entre em contato conosco para solicitar mais informações sobre nossos serviços e enviar comentários, suas sugestões e qualquer pergunta sobre o DWM-Finanças.</p>
                            <ul class="list-icons">
                                <li><i class="fa fa-map-marker pr-10"></i> DWM Sistemas</li>
                                <li><i class="fa fa-phone pr-10"></i> +55 91 99985-1809</li>
                                <li><i class="fa fa-envelope-o pr-10"></i> comercial@dwmsistemas.com.br</li>
                                <li><i class="fa fa-envelope-o pr-10"></i> suporte@dwmsistemas.com.br</li>
                            </ul>
                            <ul class="social-links">
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="https://twitter.com/HtmlcoderMe"><i class="fa fa-twitter"></i></a></li>
                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
                                <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
                                <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-content">
                            <form role="form" id="footer-form">
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="name2">Name</label>
                                    <input type="text" class="form-control" id="name2" placeholder="Nome" name="name2" required>
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="email2">Email address</label>
                                    <input type="email" class="form-control" id="email2" placeholder="E-mail" name="email2" required>
                                    <i class="fa fa-envelope form-control-feedback"></i>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="message2">Message</label>
                                    <textarea class="form-control" rows="8" id="message2" placeholder="Mensagem" name="message2" required></textarea>
                                    <i class="fa fa-pencil form-control-feedback"></i>
                                </div>
                                <input type="submit" value="Enviar" class="btn btn-default">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->
        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Copyright © @DateTime.Today.Year DWM Sistemas.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->
    <!-- JavaScript files placed at the end of the document so the pages load faster
    ================================================== -->


    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="~/Content/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>

    <!-- Modernizr javascript -->
    <script type="text/javascript" src="~/Content/plugins/modernizr.js"></script>

    <!-- Isotope javascript -->
    <script type="text/javascript" src="~/Content/plugins/isotope/isotope.pkgd.min.js"></script>

    <!-- Backstretch javascript -->
    <script type="text/javascript" src="~/Content/plugins/jquery.backstretch.min.js"></script>

    <!-- Appear javascript -->
    <script type="text/javascript" src="~/Content/plugins/jquery.appear.js"></script>

    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="~/Content/js/template.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="~/Content/js/custom.js"></script>

</body>
</html>
